In [1]:
import pandas as pd

In [2]:

# Load and view first few lines of dataset
df = pd.read_csv('admission_data.csv')
df.head()

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
1       56105    male    Physics      True
2       31441  female  Chemistry     False
3       51765    male    Physics      True
4       53714  female    Physics      True

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   student_id  500 non-null    int64
 1   gender      500 non-null    object
 2   major       500 non-null    object
 3   admitted    500 non-null    bool
dtypes: bool(1), int64(1), object(2)
memory usage: 12.3+ KB

### 1. Find out the following :-
* Proportion and admission rate for each gender.
* Proportion and admission rate for physics majors of each gender.
* Proportion and admission rate for chemistry majors of each gender.
* Admission rate for each major.

### 2. What proportion of female students are majoring in physics?

In [ ]:
## Your code here

### 3. What proportion of male students are majoring in physics?

In [ ]:
## Your code here

### 4. What is the admission rate for female physics majors?

In [ ]:
## Your code here

### 5. What is the admission rate for male physics majors?

In [ ]:
## Your code here

### 6. What is the Proportion and admission rate for chemistry majors of each genderÂ¶

In [ ]:
## Your code here

### 7. What is the total Admission rate for each major?

In [ ]:
## Your code here