In [5]:
import pandas as pd

In [6]:

# Load and view first few lines of dataset
df = pd.read_csv('admission_data.csv')
df.head()

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
1       56105    male    Physics      True
2       31441  female  Chemistry     False
3       51765    male    Physics      True
4       53714  female    Physics      True

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   student_id  500 non-null    int64
 1   gender      500 non-null    object
 2   major       500 non-null    object
 3   admitted    500 non-null    bool
dtypes: bool(1), int64(1), object(2)
memory usage: 12.3+ KB

### 1. Find out the following :-
* Proportion and admission rate for each gender.
* Proportion and admission rate for physics majors of each gender.
* Proportion and admission rate for chemistry majors of each gender.
* Admission rate for each major.

In [8]:
df.groupby(['admitted','gender']).sum()

                 student_id
admitted gender
False    female     7747383
         male       5145707
True     female     3073116
         male       4781336

In [9]:
pd.crosstab(df.admitted,df.gender).apply(lambda r: r/r.sum(),axis=1)*100

gender       female       male
admitted
False     59.415584  40.584416
True      38.541667  61.458333

### 2. What proportion of female students are majoring in physics?

In [10]:
#pd.crosstab(df.major,df.gender).apply(lambda r: r/r.sum(), axis=1)*100
a = df.loc[(df['major'] == 'Physics') & (df['gender'] == 'female')].count()
b = df.loc[(df['major'] == 'Physics')].count()
(a['admitted']/b['admitted'])*100

12.109375

### 3. What proportion of male students are majoring in physics?

In [11]:
a = df.loc[(df['major'] == 'Physics') & (df['gender'] == 'male')].count()
b = df.loc[(df['major'] == 'Physics')].count()
(a['admitted']/b['admitted'])*100

87.890625

### 4. What is the admission rate for female physics majors?

In [12]:
a = df.loc[(df['major'] == 'Physics') & (df['gender'] == 'female') & (df['admitted']==True)].count()
b = df.loc[(df['major'] == 'Physics')].count()
(a['admitted']/b['admitted'])*100

8.984375

### 5. What is the admission rate for male physics majors?

In [13]:
a = df.loc[(df['major'] == 'Physics') & (df['gender'] == 'male') & (df['admitted']==True)].count()
b = df.loc[(df['major'] == 'Physics')].count()
(a['admitted']/b['admitted'])*100

45.3125

### 6. What is the Proportion and admission rate for chemistry majors of each genderÂ¶

In [17]:
## Your code here
a = pd.crosstab(df.major,df.gender).apply(lambda r: r/r.sum(), axis=1)*100
a

gender        female       male
major
Chemistry  92.622951   7.377049
Physics    12.109375  87.890625

### 7. What is the total Admission rate for each major?

In [ ]:
pd.crosstab(df.major,df.admitted).apply(lambda r:r/r.sum(),axis=1)*100

admitted       False      True
major
Chemistry  78.278689  21.721311
Physics    45.703125  54.296875